@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  border: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #132b49;
  font-family: "Josefin Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-family: "Nabla", cursive;
}

.main__app {
  height: 850px;
  width: 450px;
  background-color: rgb(240, 240, 240);
  display: grid;
  justify-content: center;
  grid-template-rows: 0.27fr 0.85fr 0.9fr;
  border-radius: 13px;
  padding: 0.5em 1em;
}

.search-label {
  font-size: 1.2em;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}

.search-controls {
  display: flex;
  align-items: center;
  gap: 0.8em;
  padding: 0 0.3em;
}

.search-input {
  height: 40px;
  width: 200px;
  border: 1px solid black;
  padding: 1em;
}

.search-button {
  padding: 13px 20px;
  border-radius: 18px;
  background-color: #21386e;
  color: white;
  font-family: "Nabla", cursive;
}

.display-screen {
  background-color: rgba(214, 214, 214, 0.613);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 420px;
  padding: 0.8em;
  gap: 1em;
}

.display-header {
  display: flex;
  flex-direction: column;

  gap: 0.5em;
}

.name-id {
  font-size: 20px;
}

/* Sprite-styling */

.sprite-container {
  align-self: center;
  height: 185px;
}

#sprite {
  height: 100%;
}

/* Table styling */

table {
  width: 420px;
  border-spacing: 5px;
  color: white;
}

td {
  background-color: #21386e;
  padding: 12px 20px 10px;
  text-align: center;
  border-radius: 4px;
}

tr td:first-of-type {
  width: 65%;
}

/* Toggle type hidden/visible */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Types span styling */

.types {
  display: flex;
  align-items: center;
  height: 50px;
  display: flex;
  gap: 0.5em;
}

.type {
  font-size: 11px;
  border-radius: 5px;
  padding: 8px 8px;
}
